


<div class="main">
  <div class="container">
    <h1>Earl of March S.S</h1>
    
      <p><%= link_to 'LOG IN', new_session_path %></p>
    
  </div>
</div>

<div class

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<p><%= link_to 'LIST', prin_user_path %></p>
